/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homepageHero {
    padding: 4rem 0 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroCTA {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroLogo {
    height: 100px;
    width: 100px;
}

.homepageVideoContainer {
    width: 100%;
    text-align: center;
}

.homepageVideo {
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* width: 650px; */
    height: calc(0.5625 * 560px);
    background-color: lightgray;
}

@media screen and (max-width: 996px) {
    .homepageHero {
        padding: 2rem 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .homepageVideo {
        /* width: 400px; */
        height: calc(0.5625 * 400px);
    }
}

@media screen and (max-width: 425px) {
    .homepageVideo {
        /* width: 250px; */
        height: calc(0.5625 * 250px);
    }
}
